* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

/* nav menu*/
nav {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
}

.menu_social {
    display: none;
}

.menu {
    position: relative;
    height: 80px;
    width: 100%;
    background-color: #fff;

}

.logo {
    position: absolute;
    display: block;
    height: 60%;
    width: 100px;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-image: url(img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/* menu burger */
.burger {
    position: relative;
    height: 100%;
    left: 80%;
}

.burger div {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 5px;
    background-color: black;
    transform: translateY(-50%);
    border-radius: 4px;
    opacity: 1;
    transition: .5s .1s;
}

.burger.active div {
    background-color: #fff;
}

.burger div::before,
.burger div::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 5px;
    background-color: black;
    border-radius: 4px;
    transform: rotate(0deg);
    transition-property: transform, top;
    transition-duration: .3s, .3s;
    transition-delay: 0s, .3s;
}

.burger div::before {
    top: 16px;
}

.burger div::after {
    top: -16px;

}

.burger.active div::before,
.burger.active div::after {
    transition-property: top, transform;
    transition-duration: .3s, .3s;
    transition-delay: 0s, .3s;
}

.burger.active div::before {
    top: 0px;
    transform: rotate(45deg);
}

.burger.active div::after {
    top: 0px;
    transform: rotate(-45deg);
}

/* menu content */
.menu_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100%;
    text-transform: uppercase;
    background-color: #fff;
    text-align: center;
    font-size: 3em;
    cursor: pointer;
    justify-content: space-around;
    transform: translateY(-100%);
    transition: .5s;
}

.menu_content.active {
    transform: translateY(80px);
}


main {
    padding-top: 80px;
    width: 100%;
    height: 100%;
}

/*style of cover image div  */
/* frame */
.frame {
    position: absolute;
    border: 3px solid white;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* little title with lines */
.title {
    position: relative;
    font-size: 1.4em;
    margin: 0 auto;
    color: white;
    width: 60%
}

.line1,
.line2 {
    position: absolute;
    top: 50%;
    height: 1px;
    width: 30%;
    background-color: #fff;
}

.line1 {
    left: 0;
}

.line2 {
    right: 0;
}

h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1em;
}

.main_img,
.projects,
.team_main,
.port_main,
.brand_main,
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
}

/* style of main image */

.main_img {
    background-image: url(img/main.png);
}

.main_img .title {
    width: 80%;
}

.check {
    color: white;
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 25px;
    width: 30%;
    padding: 0.3em;
}

.fas {
    color: white;
    padding-top: 1em;
    font-size: 1.4em;
}


.main_img .line1,
.main_img .line2 {
    width: 25%;
}

/* Projects' circles */
:root {
    --circle-size: 45vw;
    --circle-min-size: 180px;
}

.projects {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 3em;
}

.circle_input {
    position: relative;
    width: var(--circle-size);
    height: var(--circle-size);
    min-width: var(--circle-min-size);
    min-height: var(--circle-min-size);
    margin: 1em;
}

/* Circel text */
.circle_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle_text p {
    font-size: 4em;
    font-weight: 700;
}

.circle_text span {
    text-transform: uppercase;
}

.circle1 {
    color: rgb(229, 70, 51);
}

.circle2 {
    color: rgb(5, 152, 134);
}

.circle3 {
    color: rgb(17, 40, 58);
}

/* Circel radius */

.circle_radius {

    position: relative;
    width: var(--circle-size);
    height: var(--circle-size);
    min-width: var(--circle-min-size);
    min-height: var(--circle-min-size);
    background-color: rgb(216, 206, 206);
    border-radius: 50%;
}

.circle_border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 40vw;
    min-width: 160px;
    min-height: 160px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.circle_fill1,
.circle_fill2,
.circle_fill3 {
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    min-width: var(--circle-min-size);
    min-height: var(--circle-min-size);
    border-radius: 50%;
}

.circle_fill1 {
    background-color: rgb(229, 70, 51);
}

.circle_fill2 {
    background-color: rgb(5, 152, 134);
}

.circle_fill3 {
    background-color: rgb(17, 40, 58);
}

.circle_mask1,
.circle_mask2,
.circle_mask3 {
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    min-width: var(--circle-min-size);
    min-height: var(--circle-min-size);
    border-radius: 50%;
    clip-path: polygon(50% -50%, 50% 50%, 50% -50%);
}

.circle1_active {
    animation: anim_circle1 2s 1;
    animation-fill-mode: forwards;
}

.circle2_active {
    animation: anim_circle2 2s 1;
    animation-fill-mode: forwards;
}

.circle3_active {
    animation: anim_circle3 1.5s 1;
    animation-fill-mode: forwards;
}

.circle3_active_part2 {
    animation: anim_circle3_2 1s 1.5s 1;
    animation-fill-mode: forwards;
}

@keyframes anim_circle1 {
    0% {
        clip-path: polygon(50% -50%, 50% 50%, 50% -50%);
    }

    100% {
        clip-path: polygon(50% -50%, 50% 50%, 140% 50%);
    }
}

@keyframes anim_circle2 {
    0% {
        clip-path: polygon(50% -50%, 50% 50%, 50% -50%);
    }

    100% {
        clip-path: polygon(50% -50%, 50% 50%, 140% -50%);
    }
}

@keyframes anim_circle3 {
    0% {
        clip-path: polygon(50% 0%, 75% 0%, 50% 0%);
    }

    100% {
        clip-path: polygon(50% 50%, 140% 50%, 50% -50%);
    }
}

@keyframes anim_circle3_2 {
    0% {
        clip-path: polygon(50% 50%, 100% 50%, 150% 50%);
    }

    100% {
        clip-path: polygon(50% 50%, 150% 50%, 75% 200%);
    }
}

/* Our team */

.team_main {
    background-image: url(img/team_main.png);
}

/* Team's members*/

.team_box {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 500px;
    text-align: center;
}

/* style of text box */
.team_box_text {
    width: 60%;
    height: 50%;
    margin: 2em auto;
    order: 1;
}

h3 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}

.team_job {
    position: relative;
}

.team_job div {
    border-bottom: 3px solid rgb(229, 70, 51);
    padding-bottom: 1.2em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.2em;
}

.team_box_text span {
    font-size: 1.2em;
}

/* style of frame */
.team_frame1,
.team_frame2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 45%;
}

.team_frame1 {
    border: 3px solid black;
    border-bottom: transparent;
    transform: translate(-50%, -100%);
}

.team_frame2 {
    border: 3px solid white;
    border-top: transparent;
    transform: translate(-50%, 0);
}

/* style of team box image */

.box_img1,
.box_img2,
.box_img3,
.box_img4 {
    position: absolute;
    width: 100vw;
    height: 50%;
    min-height: 250px;
    bottom: 0;
    background-size: cover;
    order: 2;
}

.box_img1 {
    background-image: url(img/team1.png);
}

.box_img2 {
    background-image: url(img/team2.png)
}

.box_img3 {
    background-image: url(img/team3.png);
}

.box_img4 {
    background-image: url(img/team4.png);
}

/* style of arrow */

.team_arrow {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 50px;
}

.team_arrow::before {
    content: "";
    position: absolute;
    top: -70%;
    left: 10%;
    width: 50px;
    height: 50px;
    z-index: 2;
    transform: rotate(45deg);
    background-color: white;
}

/* Portfolio */

.port_main {
    background-image: url(img/port_main.png);
}

.port_main .line1,
.port_main .line2 {
    width: 10%;
}

.port {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.port div {
    height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
    cursor: pointer;
}

.port div:hover {
    opacity: 1;
}

.port1 {
    background-image: url(img/port1.png);
}

.port2 {
    background-image: url(img/port2.png);
}

.port3 {
    background-image: url(img/port3.png);
}

.port4 {
    background-image: url(img/port4.png);
}

.port5 {
    background-image: url(img/port5.png);
}

.port6 {
    background-image: url(img/port6.png);
}

.port7 {
    background-image: url(img/port7.png);
}

.port8 {
    background-image: url(img/port8.png);
}

.port9 {
    background-image: url(img/port9.png);
}

.port10 {
    background-image: url(img/port10.png);
}

.port11 {
    background-image: url(img/port11.png);
}

.port12 {
    background-image: url(img/port12.png);
}

.port13 {
    background-image: url(img/port13.png);
}

.port14 {
    background-image: url(img/port14.png);
}

.port15 {
    background-image: url(img/port15.png);
}

.port16 {
    background-image: url(img/port16.png);
}

.port17 {
    background-image: url(img/port17.png);
}

.port18 {
    background-image: url(img/port18.png);
}

.port19 {
    background-image: url(img/port19.png);
}

.port20 {
    background-image: url(img/port20.png);
}

.port21 {
    background-image: url(img/port21.png);
}

/* Brands */

.brand_main {
    background-image: url(img/brand_main.png)
}

.brand_main .line1,
.brand_main .line2 {
    width: 20%;
}

.brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.brands div {
    height: 150px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
    filter: grayscale(100%);
    cursor: pointer;
}

.brands div:hover {
    filter: grayscale(0%);
    opacity: 0.5;
}

.brand1 {
    background-image: url(img/brand1.png);
}

.brand2 {
    background-image: url(img/brand2.png);
}

.brand3 {
    background-image: url(img/brand3.png);
}

.brand4 {
    background-image: url(img/brand4.png);
}

.brand5 {
    background-image: url(img/brand5.png);
}

.brand6 {
    background-image: url(img/brand6.png);
}

.brand7 {
    background-image: url(img/brand7.png);
}

.brand8 {
    background-image: url(img/brand8.png);
}

.brand9 {
    background-image: url(img/brand9.png);
}

.brand10 {
    background-image: url(img/brand10.png);
}

.brand11 {
    background-image: url(img/brand11.png);
}

.brand12 {
    background-image: url(img/brand12.png);
}

.brand13,
.brand14,
.brand15,
.brand16,
.brand17,
.brand18 {
    display: none;
}



/* Footer */
footer {
    background: black;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

footer div {
    width: 50%;
    padding-top: 2em;
    padding-bottom: 2em;
}

footer h3 {
    position: relative;
}

.fo_line {
    height: 1px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(5, 152, 134);
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

@media only screen and (min-width:650px) {

    /* nav */

    .menu_social {
        position: absolute;
        top: 50%;
        left: 45%;
        display: block;
        color: black;
        transform: translateY(-50%);
        font-size: 1.2em;
    }

    .menu_social i {
        padding-right: 1em;
    }

    .burger {
        background-color: black;
        width: 35%;
        left: 65%;
    }

    .burger div {
        background-color: #fff;
        left: 5%;
    }

    .burger.active div {
        background-color: #000;
    }

    .burger div::before,
    .burger div::after {
        background-color: #fff;
    }

    /* menu content */
    .menu_content {
        width: 35%;
        right: 0;
    }

    /*style of cover image div  */
    .main_img {
        min-height: 400px;
        background-position: 50% 0;
    }

    /* Projects' circles */
    :root {
        --circle-size: 15vw;
        --circle-min-size: 200px;
    }

    .projects {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .circle_border {
        width: 13vw;
        height: 13vw;
        min-width: 180px;
        min-height: 180px;
    }

    .circle_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .circle_container span {
        width: var(--circle-size);
    }


    /* Team's members*/
    .team {
        margin: 0 auto;
    }

    .team_box {
        flex-direction: row;
        min-height: 0;
        width: 80%;
        margin: 0 auto;
    }

    /* style of text box */
    .team_box_text {
        width: 40%;
    }

    .box_img1,
    .box_img2,
    .box_img3,
    .box_img4 {
        position: relative;
        width: 50%;
        right: 0;
    }

    .box_img1,
    .box_img3 {
        order: 1;
    }

    .team_frame1,
    .team_frame2,
    .team_arrow {
        width: 45%;
        height: 80%;
    }

    .team_frame1 {
        border: 3px solid white;
        border-left: transparent;
        transform: translate(0, -50%);
    }

    .team_frame2 {
        border: 3px solid black;
        border-right: transparent;
        transform: translate(-100%, -50%);
    }

    .team_box:nth-of-type(1) .team_box_text,
    .team_box:nth-of-type(3) .team_box_text {
        order: 2;
    }

    .team_box:nth-of-type(1) .team_frame1,
    .team_box:nth-of-type(3) .team_frame1 {
        border: 3px solid black;
        border-left: transparent;
    }

    .team_box:nth-of-type(1) .team_frame2,
    .team_box:nth-of-type(3) .team_frame2 {
        border: 3px solid white;
        border-right: transparent;
    }

    /* Portfolio */
    .port {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .port div {
        height: 150px;
    }

    /* Brands */
    .brands {
        margin: 0 auto;
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .brands div {
        display: block;
    }

    .brand13 {
        background-image: url(img/brand13.png);
    }

    .brand14 {
        background-image: url(img/brand14.png);
    }

    .brand15 {
        background-image: url(img/brand15.png);
    }

    .brand16 {
        background-image: url(img/brand16.png);
    }

    .brand17 {
        background-image: url(img/brand17.png);
    }

    .brand18 {
        background-image: url(img/brand18.png);
    }

    footer {
        flex-direction: row;
        align-items: baseline;
    }

    footer div {
        width: 25%;
    }



}

@media only screen and (min-width:1200px) {
    body {
        width: 80%;
        margin: 0 auto;
    }

    nav {
        width: 80%;
    }
}



/* @media only screen and (orientation: landscape) {
    body {
        width: 80vw;
        margin: 0 auto;
    }
} */