* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    position: relative;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 50px 1fr 100px; */
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

main {
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    width: 100vw;
    height: 100%;
}

/*style of cover image div  */
/* frame */
.frame {
    position: absolute;
    border: 3px solid white;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* little title with lines */
.title {
    position: relative;
    font-size: 1.4em;
    margin: 0 auto;
    color: white;
    width: 60%
}

.line1,
.line2 {
    position: absolute;
    top: 50%;
    height: 1px;
    width: 30%;
    background-color: #fff;
}

.line1 {
    left: 0;
}

.line2 {
    right: 0;
}

h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1em;
}

.main_img,
.team_main,
.port_main,
.brand_main {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
}

/* style of main image */

.main_img {

    background-image: url(img/main.png);

}

.main_img .title {
    width: 80%;
}

.check {
    color: white;
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 25px;
    width: 30%;
    padding: 0.3em;
}

.fas {
    color: white;
    padding-top: 1em;
    font-size: 1.4em;
}


.main_img .line1,
.main_img .line2 {
    width: 25%;
}



/* ----------------------------- */
.projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: purple;
}

.circle {
    width: 50vw;
    height: 50vw;
    border: 10px solid blue;
    border-radius: 50%;
}

/* ----------------------------- */

/* Our team */

.team_main {
    background-image: url(img/team_main.png);
}

/* Team's members*/

.team_box {
    text-align: center;
}

.team_box_text {
    position: relative;
}

.team_frame1,
.team_frame2 {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* style of team box text */
.team_frame1 {
    border: 3px solid white;
    border-bottom: transparent;
}

h3 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}

.team_job {
    border-bottom: 3px solid rgb(117, 7, 7);
    padding-bottom: 1em;
}

.team_box_text span {
    font-size: 1.2em;
}

/* style of team box image */
.team_box_img {
    position: relative;
}

.box_img1 {
    width: 100vw;
    height: 50vw;
    background-color: pink;
}

.team_frame2 {
    border: 3px solid black;
    border-top: transparent;
}

/* ------------------------------------------------ */

.team {
    background-color: blueviolet;
}

.port_main {
    background-image: url(img/port_main.png);
}

.port_main .line1,
.port_main .line2 {
    width: 10%;
}

.port {
    background-color: burlywood;
}

/* main brand */
.brand_main {
    background-image: url(img/brand_main.png)
}

.brand_main .line1,
.brand_main .line2 {
    width: 20%;
}

.brands {
    background-color: goldenrod;
}